db-scripts/updates/
db-scripts/1_db.sql
db-scripts/2_update.sql
docker/my-dojo/conf/*.conf
docker/my-dojo/conf/*.conf.save
keys/index.js
keys/sslcert/
node_modules/
private-tests/
static/admin/conf/index.js
static/admin-legacy
static/admin-legacy/
*.log
