body{
	font-family: "Unica One", sans-serif;
	font-size:   12px;
	line-height: 1.3;
	background-color: #1a1d1f;
}

h1 {
	font-size:   24px;
	margin-left: 20px;
}

input, select {
	padding: 5px;
	border: 0;
	width: 100%;
	border: 1px solid #bfbfbf;
	background-color: #1a1d1f;
	font-size: 12px;
	color: #e0e0e3;
}

input[type="checkbox"]{
	width: 20px;
	zoom: 1.3;
	-moz-transform: scale(1.3);
	-webkit-transform: scale(1.3);
}

a, a:visited {
	color: #a1a1a1;
}

a:hover {
	color: #2196f3;
}

.row {
  margin-left: 0;
  margin-right: 0;
}

.small {
	font-size: 11px;
}

.beta {
  font-size: 11px;
  color: #9f9f9f;
}

/* RAW TX */
pre.raw-tx {
  white-space: pre-wrap;
  max-width: 500px;
  color: #e0e0e3;
  background: #1a1d1f;
  border-radius: 0;
  border: 0;
}

/* ICONS */
.mini-icon {
  height: 16px;
  width: 16px;
}

.medium-icon {
  height: 32px;
  width: 32px;
}

/* ALIGNMENTS */
.left {
  text-align: left!important;
}

.right {
  text-align: right!important;
}

.center {
  text-align: center!important;
}

.justify {
  text-align: justify!important;
}

/* BOXES WIDTHS */
.halfwidth-left {
  width: 49%;
  min-width: 49%;
  margin-left: 0;
  margin-right: 0.7%;
}

.halfwidth-right {
  width: 49%;
  min-width: 49%;
  margin-left: 0.7%;
  margin-right: 0;
}

.fullwidth {
  width: 100%;
  min-width: 100%;
}

/* BUTTONS*/
.btn {
  font-size: 12px;
  padding: 4px 12px;
}

.btn-success {
	background-image: -webkit-linear-gradient(top, #2196f3 0%, #1186e3 100%);
	background-image: -o-linear-gradient(top, #2196f3 0%, #1186e3 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#2196f3), to(#1186e3));
	background-image: linear-gradient(to bottom, #2196f3 0%, #1186e3 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff2196f3', endColorstr='#ff1186e3', GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
	background-repeat: repeat-x;
	border-color: #2196f3;
	background-color: #1186e3;
}

.btn-success:hover,
.btn-success:focus {
  background-color: #1186e3;
  background-position: 0 -15px;
}

.btn-success:active,
.btn-success.active {
  background-color: #1186e3;
  border-color: #2196f3;
}

.btn-success.disabled,
.btn-success[disabled],
fieldset[disabled] .btn-success,
.btn-success.disabled:hover,
.btn-success[disabled]:hover,
fieldset[disabled] .btn-success:hover,
.btn-success.disabled:focus,
.btn-success[disabled]:focus,
fieldset[disabled] .btn-success:focus,
.btn-success.disabled.focus,
.btn-success[disabled].focus,
fieldset[disabled] .btn-success.focus,
.btn-success.disabled:active,
.btn-success[disabled]:active,
fieldset[disabled] .btn-success:active,
.btn-success.disabled.active,
.btn-success[disabled].active,
fieldset[disabled] .btn-success.active {
  background-color: #1186e3;
  background-image: none;
}

/* TABLES */
table.spaced tr th,
table.spaced tr td {
  padding: 5px;
}

td.table-label {
  font-weight: bold;
  padding-top: 2px;
  padding-bottom: 2px;
  vertical-align: top;
}

td.table-value {
  padding-left: 15px;
  padding-top: 2px;
  padding-bottom: 2px;
  vertical-align: top;
}

/* BOXES */
.two-columns-left {
  vertical-align: top;
  display: inline-block;
  padding: 0;
  background-color: transparent;
  width: 49%;
  min-width: 49%;
  margin-left: 0;
  margin-right: 0.7%;
}

.two-columns-right {
  vertical-align: top;
  display: inline-block;
  padding: 0;
  background-color: transparent;
  width: 49%;
  min-width: 49%;
  margin-left: 0.7%;
  margin-right: 0;
}

.two-columns-left .box,
.two-columns-right .box {
  margin-bottom: 15px;
}

.box {
  display: inline-block;
  padding: 10px 10px 10px 10px;
  background-color: rgba(255, 255, 255, 0.1);
}

.box-header {
  width: 100%;
  font-size: 12px;
  font-weight: bold;
}

.box-body {
  width: 100%;
}

.box-context {
  width: 100%;
  font-size: 12px;
  font-style: italic;
  margin: 0 10px 10px 0;
}

.box-main {
  margin: 20px 0;
}

#box-msg {
  text-align: center;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 100;
}

/* MESSAGE BOX */
.msg, .msg-error, .msg-info {
  color: #505050;
  font-weight: bold;
  padding: 0;
}

.msg {
  background: #81b6e2;
}

.msg-error {
	background: #ca7c7c;
}

.msg-info {
	background: #8caf8c;
}

/* PAGES - COMMONS */
body.dmt {
  min-height: 100vh;
  background-image: url("../icons/samourai-logo-loading.png");
  background-repeat: no-repeat;
  background-position: center;
}

#body {
	padding: 0;
  color: #efefef;
}

#body,
#form {
	padding-top: 20px;
}

#body #main > div {
  min-height: 80vh;
  background-color: #1a1d1f;
}

#body #main .title {
  margin: 0;
  background-color: rgba(255, 255, 255, 0.1);
}

#body #main h1 {
  font-size: 24px;
  margin: 0 0 20px 0;
  padding: 0;
}

h3 {
  margin-bottom: 20px;
  margin-top: 0;
}

span {
	display: block;
	margin-left: auto;
  margin-right: auto;
}

button {
  display: inline-block;
  margin-left: 8px;
  margin-right: 8px;
}

.box-content {
  color: #e0e0e3;
  background-color: rgba(255, 255, 255, 0.1);
  text-align: left;
  padding: 30px;
}

.box-actions {
	margin-top: 10px;
  text-align: center;
}

.amount-sent {
  color: #f77c7c;
}

.amount-received {
  color: #76d776;
}

/* NAVIGATION MENU*/
#body #menu {
  padding-left: 0;
  padding-right: 0;
}

#body #menu .title {
  margin: 0;
  background-color: rgba(255, 255, 255, 0.1);
}

#body #menu .title h1 {
  font-size: 16px;
  margin: 0 0 5px 0;
  padding: 5px;
}

.nav-pills {
  color: #e0e0e3;
  overflow: hidden;
}

.nav-pills > li {
  padding-left: 0;
  padding-right: 0;
  border: none;
}

.nav-pills > li > a {
  color: #cfd8dc;
  border: none;
  margin-left: 5px;
  text-decoration: none;
  cursor: pointer;
  padding: 6px 4px;
}

.nav-pills > li > a:hover {
  color: #fff;
  background-color: transparent!important;
}

.nav-pills > li.active > a,
.nav-pills > li.active > a:hover {
  color: #fff;
  outline: none;
  background-color: transparent!important;
  font-weight: 600;
  text-decoration: none;
  cursor: default;
}

/* HEADER */
#header {
	height: 60px;
  display: flex;
  display: -ms-flexbox;
  align-items: center;
  -ms-flex-align: center;
}

#header div {
  padding-left: 0;
  padding-right: 0;
}

#header span {
  display:inline;
}

#header .title {
  color: #e0e0e3;
  margin-left: 0!important;
}

#header .login-box {
	text-align: right;
}

#header .login-box a {
  color: #e0e0e3;
  font-size: 12px;
  display: inline-block;
  vertical-align: middle;
}

/* PAGES - HOME */
#login-page {
  padding: 100px 0;
}

#login-page #welcome-msg {
  text-align: center;
  margin-bottom: 60px;
  padding-bottom: 10px;
}

#login-page #welcome-msg h1 {
  color: #e0e0e3;
}

#login-page #signin {
	margin-top: 10px;
}

#login-page input {
	width: 100%;
}

#login-page span {
  display:inline;
}

/* PAGES - STATUS */
#tor-status-ind,
#nginx-status-ind,
#nodejs-status-ind {
  color: #76d776;
}

/* PAGES - PAIRING */
#qr-label,
#qr-explorer-label {
  margin: 0 0 20px 0;
  text-align: center;
  display: inline-block;
}

#qr-container,
#qr-explorer-container {
  display: inline-block;
}

#qr-pairing,
#qr-explorer-pairing {
  width: 276px;
  height: 276px;
  padding: 10px;
  background-color: #fff;
  margin: auto;
}

/* PAGES - BLOCKS RESCAN */
#blocks-rescan-form span {
  display: inline;
}

#blocks-rescan-form .box-body {
  text-align: center;
}

#blocks-rescan-form input {
  width: 60px;
  margin-left: 5px;
  margin-right: 5px;
  display: inline-block;
}

/* PAGES - XPUBS TOOL */
#xpubs-tool-search-form span {
  display: inline;
}

#xpubs-tool-search-form .box-body {
  text-align: center;
}

#xpubs-tool-search-form input {
  width: 400px;
  margin-left: 5px;
  margin-right: 5px;
  display: inline-block;
}

#xpubs-tool-details {
  width: 100%;
}

#xpubs-tool-header {
  margin: 0 0 20px 0;
}

#xpubs-tool-actions {
  text-align: center;
}

#xpubs-rescans-actions span {
  display: inline;
}

#xpubs-rescans-actions input {
  width: 50px;
  margin-left: 5px;
  margin-right: 5px;
  display: inline-block;
}

#xpubs-tool-details #xpub-value {
  overflow: hidden;
}

#xpubs-tool-details-row1 table {
  width: 100%;
}

#xpubs-tool-details-row1 table .table-label {
  width: 15%;
}

#xpubs-tool-details-row1 table .table-value {
  width: 35%;
}

#xpubs-tool-details-row2 table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}

#xpubs-tool-details-row2 table tbody tr:first-child {
  height: 0;
}

#xpubs-tool-details-row2 table tbody tr:first-child td:first-child {
  width: 80px;
}

#xpubs-tool-details-row2  tbody tr td:last-child {
  overflow: hidden;
  white-space: nowrap;
}

#xpubs-tool-details-row2 table a {
  font-weight: bold;
  text-decoration: underline;
  color: #efefef;
}

#xpubs-tool-details-row2 table .table-label {
  width: 30%;
}

#xpubs-tool-details-row2 table .table-value {
  width: 70%;
}

#xpubs-tool-import {
  text-align: center;
}

#xpubs-tool-import span {
  display: inline;
}

#xpubs-tool-import select {
  width: 80px;
  margin-left: 5px;
  margin-right: 5px;
  display: inline-block;
}

#xpubs-tool-import #import-xpub {
  font-weight: bold;
}

/* PAGES - ADDRESSES TOOL */
#addresses-tool-search-form span {
  display: inline;
}

#addresses-tool-search-form .box-body {
  text-align: center;
}

#addresses-tool-search-form input {
  width: 280px;
  margin-left: 5px;
  margin-right: 5px;
  display: inline-block;
}

#addresses-tool-details {
  width: 100%;
}

#addresses-tool-header {
  margin: 0 0 20px 0;
}

#addresses-tool-actions {
  text-align: center;
}

#addresses-rescans-actions span {
  display: inline;
}

#addresses-rescans-actions input {
  width: 50px;
  margin-left: 5px;
  margin-right: 5px;
  display: inline-block;
}

#addresses-tool-details-row1 table,
#addresses-tool-details-row2 table {
  width: 100%;
}

#addresses-tool-details-row1 table .table-label,
#addresses-tool-details-row2 table .table-label {
  width: 110px;
}

#addresses-tool-details-row2 #addr-xpub {
  overflow: hidden;
  white-space: nowrap;
  max-width: 200px;
}

#addresses-tool-details-row3 table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}

#addresses-tool-details-row3 table tbody tr:first-child {
  height: 0;
}

#addresses-tool-details-row3 table tbody tr:first-child td:first-child {
  width: 80px;
}

#addresses-tool-details-row3  tbody tr td:last-child {
  overflow: hidden;
  white-space: nowrap;
}

#addresses-tool-details-row3 table a {
  font-weight: bold;
  text-decoration: underline;
  color: #efefef;
}

#addresses-tool-details-row3 table .table-label {
  width: 30%;
}

#addresses-tool-details-row3 table .table-value {
  width: 70%;
}

#addresses-tool-import {
  text-align: center;
}

#addresses-tool-import span {
  display: inline;
}

#addresses-tool-import select {
  width: 80px;
  margin-left: 5px;
  margin-right: 5px;
  display: inline-block;
}

#addresses-tool-import #import-address {
  font-weight: bold;
}

/* PAGES - TRANSACTIONS TOOL */
#txs-tool-search-form span {
  display: inline;
}

#txs-tool-search-form .box-body {
  text-align: center;
}

#txs-tool-search-form input {
  width: 400px;
  margin-left: 5px;
  margin-right: 5px;
  display: inline-block;
}

#txs-tool-details {
  width: 100%;
}

#txs-tool-header {
  margin: 0 0 20px 0;
}

#txs-tool-actions {
  text-align: center;
}

#txs-tool-details #txid-value {
  overflow: hidden;
}

#txs-tool-details-row1 table {
  width: 100%;
}

#txs-tool-details-row1 table .table-label {
  width: 15%;
}

#txs-tool-details-row1 table .table-value {
  width: 35%;
}

/* PAGES - HELP DMT */
#welcome span {
  margin: 20px 0;
}

#welcome .items-category {
  margin: 20px 0 10px 0;
  font-weight: bold;
  font-size: 16px;
}

#welcome .item {
  margin: 10px 0 0 10px;
  font-weight: bold;
}

#welcome .item-descr {
  margin: 5px 0 10px 10px;
}


/* SPACERS */
.spacer10 { height: 10px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer20 { height: 20px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer25 { height: 25px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer30 { height: 30px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer40 { height: 40px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer50 { height: 50px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer60 { height: 60px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer70 { height: 70px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer80 { height: 80px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer90 { height: 90px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer110 { height: 110px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }

